root = true // 让这个文件生效
 
[*] // 对所有文件都生效
charset = utf-8 // 编码
indent_style = space // 缩进'tabs键',如果习惯用空格可以设为'space'
indent_size = 2 // 缩进的尺寸
end_of_line = lf // 换行符格式(开发系统差异)
insert_final_newline = true // 是否在文件的最后插入一个空行
trim_trailing_whitespace = true // 是否删除行尾的空格